# Stripe Keys
STRIPE_SECRET_KEY=sk_live_your_key_here
STRIPE_PUBLISHABLE_KEY=pk_live_your_key_here

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/creator-hub

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Cloudinary (for image uploads)
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
